body {
    font-family: 'Lato', sans-serif;
    font-size: 16px; 
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

/* Header Stuff Here*/
header {
    background-color: white;
    padding: 1rem 2vw;
}
header h1 {
    margin: 0;
    color: #024873;
}
header p {
    margin: 0;
    color: #AD3067;
    letter-spacing: 1px;
}

/* nav stuff goes here */
nav{
    background-color: #70986A;
}
nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: inline-flex;
}
nav a {
    font-size: 1.2rem;
    text-decoration: inherit;
    color: #024873;
    font-weight: 600;
    display: block;
    padding: .80rem 1rem;
}
nav li.active a {
    background-color: #AD3067;
    color: #AD3067;
}
nav a:hover {
    color: #9b2fe0;
}


/* stuff for the main tag */
main {
    padding: 1rem 2vw;
}
main h1 {
    color: #b40412
}
main h2 {
    color: #024873
        margin-bottom: .2rem;
}
main p {
    color: #2f3133;
    margin:0 0 .2rem;
}